// compress: true
@import "vars";

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: @black;
}

/* Block */
@import "block/intro";
@import "block/social";



