:root {
  --main-color: #707070;
  --red: #C0392B;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
}

main {
  margin: 0 auto;
  float: left;
  text-align: center;
}

/*------отдельные ячейки с котейками------*/

section {
  display: inline-block;
  width: 300px;
  margin: 15px 20px;
  box-shadow: -7px -7px 7px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden;
}

/*------Фото с котейкой------*/

.cat__photo {
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}

.cat__photo:hover {
  opacity: 0.7;
}

/*------Весь контент описывающий кота------*/

.content {
  font-family: 'Segoe UI';
  height: 300px;
}

/*------Имя кота------*/

a.header {
  display: block;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color;
  transition-duration: .2s;
  text-decoration: none;
}

a.header:hover {
  color: var(--red);
}

/*------Порода------*/

.breed {
  margin: 0;
  padding: 0 5px;
  font-size: 13px;
  color: var(--main-color);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------Лапочный рейтинг------*/

.rate {
  display: inline-block;
  border: 0px solid var(--main-color);
  margin: 0;
  padding: 0;
}

.rate > input {
  display: none;
}

.rate > label {
  float: right;
  transition: color .2s;
}

.rate > label:before {
  display: inline-block;
  margin: 0;
  font-size: 1.1rem;
  padding: 5px 1.5px;
  cursor: pointer;
  width: 20px;
}

.rate > .half:before {
  width: 10px;
  overflow: hidden;
  padding-right: 0;
  position: absolute;
}

input:checked ~ label,
label:hover, label:hover ~ label {
  color: var(--red);
}

/* Для выбора другого рейтинга
===============================*/
input:checked ~ label:hover ~ label, input:checked ~ label:hover,
label:hover ~ input:checked ~ label
{ color: #e74c3c; }



/*------Описание------*/

.description {
  width: 267px;
  height: 120px;
  margin: 5px auto;
  padding: 0;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--main-color);
  line-height: 20px;
}

/*------Типо кнопки покупки------*/

.payment {
  display: inline-block;
  float:left;
}

.payment .pay {
  text-decoration: none;
  color: var(--red);
  font-size: 20px;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  padding: 10px 45px;
  float: left;
  margin: 15px 0px 0px 30px;
  background-color: #fff;
  transition: background-color .2s, color .2s;
}

.payment .price {
  margin: 25px 20px 20px 60px;
  font-size: 20px;
  color: var(--red);
  float: right;
}

.payment .pay:hover {
  background-color: var(--red);
  color: #fff;
}
