* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Gloria Hallelujah', cursive;
  color: #57C127;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(120deg,#16a085,#2980b9);
}

.login-form {
  width: 411px;
  height: 598px;
  background: url(page2/img/plant.jfif);
  background-position: right bottom; /* Положение фона */
  background-repeat: no-repeat; /* Отменяем повторение фона */
  background-size: cover;
  background-position-x: 50%;
  padding: 56px 44px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-form h1 {
  width: 234px;
  height: 144px;
  top: 54px;
  margin-bottom: 33px;
  font-size: 36px;
}

.login-form input {
  background-color: white;
  font-size: 20px;
  border: 1px solid #308409;
  border-radius: 15px;
  position: relative;
  width: 206px;
  height: 51px;
}

.login-form input:hover{
  border: 2px solid #308409;
  border-color: #e67e22;
  color: #e67e22;
}
