* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Шапка
==============================*/

body {
    font-family: 'Hind Madurai', sans-serif;
}

header {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;

    position: relative;
    background: rgb(44,212,52);
    background: -webkit-linear-gradient(317deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 100%);
    background: -o-linear-gradient(317deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 100%);
    background: linear-gradient(47deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 100%);
    border-radius: 0 0 25px 25px;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    font-family: 'Comfortaa', cursive;
    color: #fff;
    font-size: 60px;
    text-align: center;

}

/* Основная сетка
==============================*/

 .content {
    display: grid;
    grid-template: 1fr / 150px 1fr 200px;
    grid-column-gap: 15px;
    justify-content: center;

    max-width: 1200px;
    margin: 0 auto;
}

/* Породы
==============================*/

.breeds {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 10px #7f8c8d;
    border-radius: 10px 0 0 0;
}

.subHeader {
    text-align: center;
    color: #2980b9;
    font-family: 'Comfortaa', cursive;

    background-color: #3498db;
    background-image: -webkit-linear-gradient(317deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 50%, transparent 50%);
    background-image: -o-linear-gradient(317deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 50%, transparent 50%);
    background-image: linear-gradient(47deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-position: 0 0;
}

.breeds ul {
    list-style: none;

    display: flex;
    flex-direction: column;
}

.breeds ul li {
    padding: 10px;
    text-align: center;

    color: #95a5a6;
    border-bottom: 1px solid #bdc3c7;
    transition: all .2s;
}

.breeds ul li:hover {
    color: rgb(38, 137, 172);
    border-bottom: 1px solid rgb(41, 175, 111);
}

/* Витрина
==============================*/

main {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px #7f8c8d;
}

.catsShowcase {
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template: repeat(5, 200px) / repeat(3, 1fr);
    grid-gap: 15px 15px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Расположение картинок
==============================*/

.showcase__item {
    position: relative;
}

.showcase__item:nth-child(2) {
    grid-area: 1 / 2 / 1 / 4;
}

.showcase__item:nth-child(6) {
    grid-area: 3 / 1 / 4 / 3;
}

.showcase__item:nth-child(8) {
    grid-area: 4 / 1 / 5 / 4;
}

.showcase__item:nth-child(10) {
    grid-area: 5 / 2 / 6 / 4;
}

/* Рейтинг
==============================*/

.rating {
    background: #fff;
    box-shadow: 0 0 10px #7f8c8d;
    padding: 10px;
    border-radius: 0 10px 0 0;
}

.rate {
    display: flex;
    flex-direction: column;
}

.rate__item {
    position: relative;
    margin-bottom: 15px;
}

.rate__line {
    width: calc(100% - 40px);
    height: 10px;
    background: #bdc3c7;
    border-radius: 10px;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.rate__line__in {
    background: linear-gradient(270deg, rgba(195,42,42,1) 0%, rgba(225,146,36,1) 100%);
    width: 75%;
    height: 100%;
    border-radius: 10px;
}
.rate__value {
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 15px;
}

/* Выставление параметров для баров
======================================*/

.rate__item:nth-child(4) .rate__mater .rate__line .rate__line__in {
    width: 90%;
    background: linear-gradient(270deg, rgba(36,225,38,1) 0%, rgba(42,125,195,1) 100%);
}

.rate__item:nth-child(2) .rate__mater .rate__line .rate__line__in {
    width: 56.66%;
    background: rgb(255,115,0);
    background: linear-gradient(270deg, rgba(255,115,0,1) 0%, rgba(225,213,36,1) 100%);
}

.rate__item:nth-child(1) .rate__mater .rate__line .rate__line__in {
    width: 30%;
}

.rate__item:nth-child(3) .rate__mater .rate__line .rate__line__in {
    width: 66.67%;
    background: linear-gradient(270deg, rgba(36,225,38,1) 0%, rgba(42,125,195,1) 100%);
}

.rate__item:nth-child(5) .rate__mater .rate__line .rate__line__in {
    width: 33.333%;
    background: rgb(255,115,0);
    background: linear-gradient(270deg, rgba(255,115,0,1) 0%, rgba(225,213,36,1) 100%);
}

input[id="filter"]:checked ~ .rate .rate__item:nth-child(4){
    order: 1;
}

input[id="filter"]:checked ~ .rate .rate__item:nth-child(3){
    order: 2;
}

input[id="filter"]:checked ~ .rate .rate__item:nth-child(2){
    order: 3;
}

input[id="filter"]:checked ~ .rate .rate__item:nth-child(5){
    order: 4;
}

input[id="filter"]:checked ~ .rate .rate__item:nth-child(1){
    order: 5;
}

/* footer
==============================*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0.2);

    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: #3498db;
    background-image: -webkit-linear-gradient(317deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 50%, transparent 50%);
    background-image: -o-linear-gradient(317deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 50%, transparent 50%);
    background-image: linear-gradient(47deg, rgba(44,212,52,1) 0%, rgba(36,104,225,1) 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .05s .1s;
    -webkit-background-clip: text;
}

a:hover {
    color: transparent;
    background-position: 0 0;
}
