/* Blocks
==========================*/
@import url("main.css");
@import url("blocks/logo.css");
@import url("blocks/slider.css");
@import url("blocks/video.css");
@import url("blocks/advantages.css");
@import url("blocks/end.css");

@media (max-width: 1003px) {
    .content_layout {
        margin: 1.2rem;
    }
}


@media (max-width: 660px) {
    .slider__text {
        font-size: 1.8rem;
    }

    .advantages__title {
        font-size: 1.8rem;
    }

    .motivation {
        font-size: 1.8rem;
    }

    .main_btn {
        font-size: 1.8rem;
    }
}
