<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./img/logo.png" type="image/png">
    <title>Recognize</title>
</head>
<body>
    <section id="recognize" class="face">
        <div class="container">
            <div class="recognize__inner">
                <div class="recognize__photo">
                    <img id="myImage" :src="url" alt="regonize photo">
                    <canvas id="overlay"></canvas>
                    <div class="recognize__buttons">
                        <button class="btn" @click.prevent="regonizeFaces">Распознать</button>
                        <input id="load-file" class="btn-file" @change="changePhoto($event)" type="file" required>
                        <label class="btn" for="load-file"></label>
                    </div>
                </div>
                <div class="recognize__content">
                    <div class="specifications" v-for="(item, index) in info" :key="index">
                        <h2 class="specifications__title">Face {{index + 1}}</h2>
                        <div class="specification__item">Возраст: {{item.age.toFixed(0)}}</div>
                        <div class="specification__item">Пол: {{item.gender}}</div>
                        <div class="specification__item">Вероятность пола: {{(item.genderProbability*100).toFixed(2) + "%"}}</div>
                        <div class="specification__item">
                            Эмоции:
                            <ul class="emotion" v-for="(value, name) in item.expressions">
                                <li class="emotion__category">{{name}}: {{(value*100).toFixed(2) + "%"}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./face-api.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>