/* Yandex.auto logo
============================*/

.logo {
    width: 170px;
    height: 80px;
    background-color: var(--white);

    font-family: "Yandex", sans-serif;
}

.logo_layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    right: 7%;
    top: 0;
}

.logo::after {
    content: "";

    border-left: 85px solid transparent;
    border-right:
        85px solid transparent;
    border-top: 50px solid var(--white);
    position: absolute;
    right: 0;
    top: 100%;
}

.title {
    color: var(--black);
    font-size: 2rem;
    margin-bottom: -.533rem;
}

.title:first-letter {
    color: var(--yandex-red);
}

.subtitle {
    color: var(--black);
    font-size: 1rem;
}
