.slider {
    max-width: 985px;
}

.slider_layout {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding-top: 150px;
}

.slider__content {
    max-width: 680px;

    margin: 0 2rem;
}

.slider__text {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.slider__cars {
    width: 100%;
}

.btn {
    min-width: 55px;
    max-width: 55px;
    min-height: 55px;
    max-height: 55px;
    border-radius: 50%;
    background-color: var(--yandex-yellow);
    box-shadow: 1.5px 1.5px #fb9760;

    transition: opacity .25s linear;
}

.btn_left {
    margin-left: .7rem;
}

.btn_right {
    margin-right: .7rem;
}

.btn_layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    transform: scale(.2);
    position: relative;
    left: -2px;
}

.cross_left {
    transform: scale(.2) rotate(180deg);
    left: 2px;
}

.btn:hover {
    opacity: .8;
}

























