* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Gloria Hallelujah', cursive;
  color: #57C127;
  box-sizing: border-box;
}

/* body
================*/

body {
  min-height: 100vh;
  background-image: linear-gradient(120deg,#16a085,#2980b9);
}

/* form
================*/

form {
  background-image: url("img/plant-blur.png");
  background-position: right bottom; /* Положение фона */
  background-repeat: no-repeat; /* Отменяем повторение фона */
  background-size: cover;
  background-position-x: 50%;
}

.login-form {
  width: 411px;
  height: 598px;
  padding: 56px 44px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* head
================*/

.login-form h1 {
  margin-bottom: 4px;
  font-size: 36px;
  line-height: 71px;
}

.login-form p {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 4px;
}

.txtb {
  position: relative;
  outline: none;
  margin-bottom: 21px;
}

/* inputs
================*/

.txtb input {
  font-size: 20px;
  border: 1px solid #308409;
  border-radius: 15px;
  width: 206px;
  height: 51px;
  outline: none;
  padding: 0 20px;
}

.txtb input::placeholder {
  color: #57C127;
  line-height: 40px;
  text-decoration-line: underline;
  text-decoration-color: #A0A0A0;
  text-decoration-style: dashed;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.txtb input:focus{
  border-color: #e67e22;
}

.txtb input:focus::placeholder  {
   opacity: 0;
   transition: opacity 0.3s ease;
}

/* image svg
================*/


/* footer
================*/

.bottom-text {
  position: relative;
}

.bottom-text p {
  font-size: 16px;
}

.btn-send input {
  background-color: white;
  font-size: 20px;
  border: 1px solid #308409;
  border-radius: 15px;
  position: relative;
  width: 100px;
  height: 51px;
}

.btn-send input:hover{
  border: 2px solid #308409;
  border-color: #e67e22;
  color: #e67e22;
}

.bottom-text a:hover {
  text-decoration: underline;
  text-decoration-color: #e67e22
}
