*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 42px;
}
body {
  width: 100vw;
  height: 100%;
  background-color: #CFD0CF;
}
/* auto-complete
==========================*/
.game__title {
  font: 700 1rem Arial, Helvetica, sans-serif;
  color: #434344;
  line-height: 1.12rem;
  text-align: center;
  margin: 40px 0;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + .card__sides .card--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
input[type="checkbox"]:checked + .card__sides .card--back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.game__field {
  list-style-type: none;
  display: grid;
  grid-template: repeat(3, 130px) / repeat(4, 130px);
  grid-gap: 0.595rem 0.595rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.714rem;
}
.game__card {
  position: relative;
  -webkit-perspective: 600px;
          perspective: 600px;
}
.card--front,
.card--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #fff;
  border-radius: 9px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  cursor: pointer;
}
.card--front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.card--front::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 120px;
  height: 120px;
  background: -webkit-gradient(linear, left bottom, right top, from(#22ab93), to(#19668d));
  background: linear-gradient(to top right, #22ab93 0%, #19668d 100%);
  border-radius: 4px;
}
.card--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  font-size: 1.786rem;
}
/* hide animation rotation on page load
=========================================*/
/* Timer
=====================================*/
.timer {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.714rem;
  font: 400 0.762rem Arial, Helvetica, sans-serif;
  color: #434344;
  line-height: 0.857rem;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 350px;
  background: #fff;
  text-align: center;
}
.modal__content .modal__title {
  font: 700 1rem Arial, Helvetica, sans-serif;
  color: #434344;
  font-size: 1.14rem;
  margin-top: 30px;
}
.modal__content .modal__title span {
  display: inline-block;
  -webkit-animation: floating 0.45s ease infinite alternate;
          animation: floating 0.45s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
.modal__content .modal__title span:nth-child(n+1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.modal__content .modal__title span:nth-child(n+2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.modal__content .modal__title span:nth-child(n+3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1.4);
            transform: scale(1, 1.4);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1.4);
            transform: scale(1, 1.4);
  }
}
.modal__btn {
  background: -webkit-gradient(linear, left top, right top, from(#19668d), to(#22ab93));
  background: linear-gradient(to right, #19668d 0%, #22ab93 100%);
  padding: 10px 30px;
  margin: 40px 0 30px;
  border: none;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font: 600 0.476rem Arial, Helvetica, sans-serif;
  color: #fff;
  outline: 0;
}
.modal__btn:active {
  -webkit-box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}
/* Adaptive layout
=====================================*/
@media screen and (max-width: 640px) {
  .game__field {
    grid-template: repeat(4, 130px) / repeat(3, 130px);
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 30px;
  }
  .game__field {
    grid-template: repeat(4, 90px) / repeat(3, 90px);
  }
  .card--front,
  .card--back {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
  }
  .card--front::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 350px) {
  .modal__content {
    min-width: 300px;
  }
}
/* for JS (cards matched or not)
===============================*/
.cards__matched {
  background: #5ad66f;
}
.cards__not_matched {
  background: #f44336;
}
